/* CSS Document */
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1473130511_3358488.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1473130511_3358488.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1473130511_3358488.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1473130511_3358488.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1473130511_3358488.svg#iconfont') format('svg'); /* iOS 4.1- */
}                    
.form_div{
	margin:4rem 0;}
.xiangmu{
	text-align:center;
	margin-top:1rem;
	background:#fff;
	border:#FFF solid 2px;}
.index-tab{
	height:3rem;}
.button-blue{
	border:none;
	border-radius:0.3em;
	height:2.5rem;
	background:-webkit-gradient(linear, left top, left bottom, from(#269c3a), to(#269c3a) );
	background:-moz-linear-gradient(-90deg, #269c3a, #269c3a);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#269c3a', endColorstr='#269c3a');}
.index-button{
	font-family:"微软雅黑";
	color:#fff;
	font-size:1.2rem;
	display:inline-block;
	font-weight:100;
	line-height:2.5rem;
	border-radius:0.3em;}
.photo{
	height:10rem;}
.xm_link{
	color:#1A1A1A;
	font-family:"微软雅黑";}
/*icon*/
.football:before{
	font-family:iconfont;
	content:'\e605';}
.wushu:before{
	font-family:iconfont;
	content:'\e604';}
.tiaosheng:before{
	font-family:iconfont;
	content:'\e607';}
.jianmei:before{
	font-family:iconfont;
	content:'\e602';}
.paobu:before{
	font-family:iconfont;
	content:'\e601';}
.taiquan:before{
	font-family:iconfont;
	content:'\e603';}
.xmicon:before{
	color:#06C;
	font-size:1.5rem;}
.shuliang{
	font-size:0.5rem;}