<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>煤问题-登录</title>
	<script src="__PUBLIC__/B-JUI/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/css/login.css">
</head>
<body>
<header class="header">
	<div class="logo">
		<img src="__PUBLIC__/img/logo.png" alt="">
	</div>
</header>
<div class="main">
	<div class="content">
		<div class="login-box">
			<form action="<{:U('Vip/Login/doLogin')}>" method="post">
				<h3 class="title">登陆账号</h3>
				<div class="user">
					<input type="text" name="account" value="" placeholder="请输入登录账号">
					<span class="clear">&times;</span>
				</div>
				<div class="password">
					<input type="password" name="password" value="" placeholder="请输入密码">
				</div>
				<div class="captcha">
					<input type="text" name="code" maxlength="4" placeholder="请输入验证码">
					<div class="captcha-img">
						<img src="http://test2.meiwenti.top/Api/Common/verify.html" alt="">
					</div>
				</div>
				<!--<button type="submit" class="login-btn">登录</button>-->
				<input type="submit" class="login-btn" value="登录">
				<div class="copy-right">
					2017-2020 <span>深圳市磐客信息科技有限公司</span>
				</div>
			</form>
		</div>
		<div class="download-app">
			<div class="qr">
				<img src="__PUBLIC__/img/app_download.png" alt="">
			</div>
			<p>
				<strong>APP下载二维码</strong>
				此二维码仅限安卓手机扫码下载，苹果手机请前往apple store下载
			</p>
		</div>
	</div>



</div>
<script>
    $(function(){
		//设置背景的高度自适应
        $(".main").height($(window).innerHeight());
        $(window).resize(function(){
            $(".main").height($(this).innerHeight());
        });

        //密码框输入位数小于六位时，提示错误
        $(".password input").change(function () {
			if($(this).val().length < 6){
                $(".password").addClass("error length");
			}else{
                $(".password").removeClass("error length");
			}
        });

		//点击清除按钮时，清空所有信息和样式
        $(".login-box .clear").click(function(){
            $(".login-box .error").removeClass('error');
            $(".login-box input").val("");
        });

        //提交表单
        $("form").submit(function (){
//            return true;
            //判断输入框是否为空，为空则提示错误
            var flag = false;
            $(".login-box input").parent().removeClass("error false");
            $(".login-box input").each(function (i) {
				if($(this).val() == ""){
				    $(this).parent().addClass("error");
				    flag = true;
				    return false;
                }
            });

            if(flag){
                return false;
			}else{
                return true;
			}
        });

        $(".captcha-img img").click(function () {
			$(this).attr("src","http://test2.meiwenti.top/Api/Common/verify.html");
        });



    })
</script>
</body>
</html>