<div class="pageContent" style="overflow-y:scroll;">
    <form action="<{:U('Admin/CoalType/coalTypeEdit')}>" id="j_edit_coal_type" data-toggle="validate" data-alertmsg="false" method="post">
        <div style="padding: 10pt;">
            <div class="bjui-row col-1">
                <input type="hidden" name="id" value="<{$info.id}>">
                <input type="hidden" name="is_admin" value="<{$info.is_admin}>">
                <label class="row-label">煤种名：</label>
                <div class="row-input"><input type="text" name="name" value="<{$info.name}>" data-rule="required"></div>
            </div>
            <hr style="margin:5px 0 15px;">
            <div class="text-center">
                <button type="submit" class="btn-default btn">提交</button>
            </div>
        </div>
    </form>
</div>