<div class="pageContent">
        <div style="margin: 0 auto;max-width:500pt;float: left;padding: 30pt">
            <!--<div class="bjui-row">-->
                <!--<img src="<{$info.picture|getTrueImgSrc=###,true}>" alt="">-->
            <!--</div>-->
            <div class="bjui-table">
                <table class="table table-bordered">
                    <tr>
                        <td>名字：</td>
                        <td><{$info.name}></td>
                        <td>学历：</td>
                        <td><{$info.education}></td>
                        <td>学历：</td>
                        <td><{$info.education}></td>
                        <td>学历：</td>
                        <td><{$info.education}></td>
                        <td>学历：</td>
                        <td><{$info.education}></td>
                        <td>学历：</td>
                        <td><{$info.education}></td>
                        <td>学历：</td>
                        <td><{$info.education}></td>
                        <td>学历：</td>
                        <td><{$info.education}></td>
                        <td>学历：</td>
                        <td><{$info.education}></td>
                    </tr>
                    <tr>
                        <td>电话：</td>
                        <td><{$info.phone}></td>
                        <td>驾照：</td>
                        <td><{$info.license}></td>
                    </tr>
                    <tr>
                        <td>性别：</td>
                        <td><{$info.sex}></td>
                        <td>户籍：</td>
                        <td><{$info.home}></td>
                    </tr>
                    <tr>
                        <td>申请职位：</td>
                        <td><{$info.title}></td>
                        <td>工作经验：</td>
                        <td><{$info.worked}></td>
                    </tr>
                    <tr>
                        <td>期望月薪：</td>
                        <td><{$info.salary}></td>
                        <td>添加时间：</td>
                        <td><{$info.push_time}></td>
                    </tr>
                    <tr>
                        <td>审核状态：</td>
                        <td colspan="3"><{$info['is_passed']?'已审核':'未审核'}></td>
                    </tr>
                </table>
            </div>
        </div>
</div>