<div class="pageContent">
	<form action="<{:U('Admin/Group/edit')}>" id="j_custom_form" data-toggle="validate" data-alertmsg="false" method="post">
        <input type="hidden" name="id" value="<{$info.id}>">
        <div class="bjui-row col-1">
            <label class="row-label">请给组一个名字：</label>
            <div class="row-input"><input type="text" name="title" value="<{$info.title}>" data-rule="required"></div>
        </div>
            <volist name="auth_info" id="vo">
                <!-- <input type="checkbox" name="ruleids[]" id="j_form_checkbox<{$vo.id}>" value="<{$vo.id}>" data-toggle="icheck" data-label="<{$vo.title}>" <php>if(in_array($vo['id'], $rules_array)){echo 'checked';}</php>><br/> -->
                <!-- <p><{$vo.title}></p><br/> -->
                <volist name="vo['list']" id="vo2">
                    <!-- &nbsp;&nbsp;<input type="checkbox" name="ruleids[]" id="j_form_checkbox<{$vo2.id}>" value="<{$vo2.id}>" data-toggle="icheck" data-label="<{$vo2.title}>" <php>if(in_array($vo2['id'], $rules_array)){echo 'checked';}</php>><br/> -->
                    &nbsp;&nbsp;<p><strong><{$vo2.title}></strong></p><br/>
                    <div>
                    <volist name="vo2['list']" id="vo3">
                        &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="ruleids_level3[]" id="j_form_checkbox<{$vo3.id}>" value="<{$vo3.id}>" data-toggle="icheck" data-label="<{$vo3.title}>" <php>if(in_array($vo3['id'], $rules_array)){echo 'checked';}</php>><span style="width:50;display: inline-block;"></span>
                    </volist>
                    </div>
                    <br/>
                </volist>
                <hr>
            </volist>
          <hr style="margin:5px 0 15px;">
        <div class="text-center">
            <button type="submit" class="btn-default">提交</button>
        </div>
    </form>
</div>
<script>
    if (!(<{$info.id}>+0)) {
        BJUI.dialog('closeCurrent');
    }

    $("input[name='ruleids_level3']").click(function(){

    });
</script>