<div class="pageContent">
	<form action="<{:U('Admin/Industry/addTmarket')}>" id="j_custom_form" data-toggle="validate" data-alertmsg="false" method="post">
        <div style="margin: 0 auto;max-width:500pt;float: left;padding: 30pt">
            <div class="bjui-row">
                <label class="row-label">体系：</label>
                <div class="row-input required">
                    <input type="text" name="system" value="" data-rule="required">
                </div>
            </div>
            <div class="bjui-row">
                <label class="row-label">名称：</label>
                <div class="row-input required">
                    <input type="text" name="name" value="" data-rule="required">
                </div>
            </div>
            <div class="bjui-row">
                <label class="row-label">价格：</label>
                <div class="row-input required">
                    <input type="text" name="price" value="" data-rule="required">
                </div>
            </div>
            <div class="bjui-row">
                <label class="row-label">变化：</label>
                <div class="row-input required">
                    <input type="text" name="in_out" value="" data-rule="required">
                </div>
            </div>
            <hr style="margin:5px 0 15px;">
            <div class="text-center">
                <button type="submit" class="btn-default btn">提交</button>
            </div>
        </div>
    </form>
</div>