<script>
    var dataurl="<{:U('Admin/News/getMacro')}>";
</script>
<div class="bjui-pageHeader" style="background-color:#fefefe; border-bottom:none;">
    <form action="" data-toggle="ajaxsearch" data-options="{searchDatagrid:$.CurrentNavtab.find('#news-macro-filter')}" id="news-macro-form">
        <fieldset>
            <div style="margin:0; padding:1px 5px 5px;">
                <span>标题：</span>
                <input type="text" name="title" class="form-control" size="15">

                <!--<span>账号：</span>-->
                <!--<input type="text" name="account" class="form-control" size="15">-->

                <div class="btn-group">
                    <button type="submit" class="btn-green" data-icon="search">开始搜索！</button>
                    <button type="reset" class="btn-orange" data-icon="times">重置</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="pageContent" style="position:absolute;top:40pt;bottom: 10pt;width: 100%;overflow: auto">
    <table class="table table-bordered" data-toggle="datagrid" data-options="{
        gridTitle: '宏观资讯',
		 showLinenumber:false,
        dataUrl: dataurl,
        fieldSortable:false,
        filterMult:false,
        columnMenu:false,
        local:'remote',
        filterThead:false,
        paging:{pageSize:10},
        height:'100%',
        width:'100%'
	}" id="news-macro-filter">
        <thead>
        <tr>
            <th data-options="{name:'id',align:'center'}" style="width: 5%;">ID</th>
            <th data-options="{name:'title',align:'center'}" style="width: 40%;">标题</th>
            <th data-options="{name:'source',align:'center'}" style="width: 10%;">来源</th>
            <th data-options="{name:'creat_time',align:'center'}" style="width: 10%;">发布日期</th>
            <th data-options="{name:'show_type',align:'center',items:get_show_type}" style="width: 10%;">展示方式</th>
            <th data-options="{name:'click',align:'center'}" style="width: 5%;">浏览次数</th>
            <th data-options="{name:'dostr',align:'center'}" style="width: 20%;">操作</th>
        </tr>
        </thead>
    </table>
</div>
<script>

    //get_show_type
    function get_show_type() {
        return [{'1':'图文排列'},{'2':'三张图片'},{'3':'一张大图'},{'4':'视频格式'}]
    }
    var win_h = $(window).height();
    //    $('#datagrid-company-truck-filter').css({'height':win_h - 140, 'overflow-y':'scroll'});
    var win_w = $('.tabsPageHeader').width();
//    $('.pageContent').css({'width':win_w - 40, 'overflow-x':'scroll'});
</script>