<script>
    var dataurl="<{:U('Admin/Users/getAuditCompany')}>";
</script>
<div class="bjui-pageHeader" style="background-color:#fefefe; border-bottom:none;">
    <form action="" data-toggle="ajaxsearch" data-options="{searchDatagrid:$.CurrentNavtab.find('#datagrid-audit-company-filter')}" id="audit-company-form">
    <fieldset>
    <div style="margin:0; padding:1px 5px 5px;">
        <span>账号：</span>
        <input type="text" name="account" size="15">
        <span>公司名：</span>
        <input type="text" name="name" size="15">
        <span>管理员：</span>
        <input type="text" name="real_name" size="15">
        <div style="margin-top: 10pt">
            <span>手机：</span>
            <input type="text" name="phone" size="15">
            <div class="btn-group">
            <button type="submit" class="btn-green" data-icon="search">开始搜索！</button>
            <button type="reset" class="btn-orange" data-icon="times">重置</button>
            </div>
        </div>
    </div>
    </fieldset>
    </form>
</div>

<div class="pageContent" style="position:absolute;top:69pt;bottom: 10pt">
    <table class="table table-bordered" data-toggle="datagrid" data-options="{
        height:'100%',
        gridTitle: '待审核公司',
		 showLinenumber:false,
        dataUrl: dataurl,
        fieldSortable:false,
        filterMult:false,
        columnMenu:false,
        local:'remote',
        filterThead:false,
        paging:{pageSize:10},
        width:'100%'
	}" id="datagrid-audit-company-filter">
        <thead>
        <tr>
            <th data-options="{name:'id',align:'center'}" style="min-width: 30px">ID</th>
            <th data-options="{name:'name',align:'center'}" style="min-width: 200px">公司名</th>
            <th data-options="{name:'lic_number',align:'center'}" style="min-width: 100px">证件号</th>
            <th data-options="{name:'real_name',align:'center'}" style="min-width: 100px">负责人</th>
            <th data-options="{name:'phone',align:'center'}" style="min-width: 120px">负责人手机</th>
            <th data-options="{name:'create_time',align:'center'}" style="min-width: 100px">注册日期</th>
            <th data-options="{name:'dostr',align:'center'}" style="min-width: 100px">操作</th>
        </tr>
        </thead>
    </table>

</div>
<script>
    var win_h = $(window).height();
//    $('#datagrid-order-list').css({'height':win_h - 140, 'overflow-y':'scroll'});
    var win_w = $('.tabsPageHeader').width();
    $('.pageContent').css({'width':win_w - 40, 'overflow-x':'scroll'});

</script>